<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruce.mp.demo.mapper.DemoUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bruce.mp.demo.model.po.DemoUser">
        <result column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="grade" property="grade" />
        <result column="email" property="email" />
        <result column="date_column" property="dateColumn" />
        <result column="tenant_code" property="tenantCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, name, age, grade, email, date_column, tenant_code, create_time, update_time, is_delete
    </sql>

</mapper>
