package ${package.Entity}.form;

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
* @Copyright Copyright © ${date.substring(0,4)} ${author} . All rights reserved.
* @Desc ${table.comment}表单实体类
* @ProjectName ${cfg.project_name}
* @Date ${date}
* @Author ${author}
*/
@Data
@ApiModel(value = "${entity}Form对象", description = "$!{table.comment}")
public class ${entity}Form implements Serializable {

    private static final long serialVersionUID = -1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

    @ApiModelProperty(value = "${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end

}
