package ${package.Entity}.query;

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import com.bruce.common.component.model.common.BasePageQuery;

/**
 * @Copyright Copyright © ${date.substring(0,4)} ${author} . All rights reserved.
 * @Desc ${table.comment}查询实体类
 * @ProjectName ${cfg.project_name}
 * @Date ${date}
 * @Author ${author}
 */
@Data
@ApiModel(value = "${entity}Query对象", description = "$!{table.comment}")
public class ${entity}Query extends BasePageQuery implements Serializable {

    private static final long serialVersionUID = -1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

    @ApiModelProperty(value = "${field.comment}")
    private ${field.propertyType} ${field.propertyName};

#end

}
