package ${package.ServiceImpl};

import ${cfg.parent_package}.dao.${entity}Dao;
import ${package.Entity}.po.${entity};
import ${package.Entity}.form.${entity}Form;
import ${package.Entity}.vo.${entity}VO;
import ${package.Entity}.query.${entity}Query;
import ${package.Entity}.convert.${entity}Converter;
import ${package.Service}.${entity}Service;
import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import com.bruce.common.component.model.common.PageData;
import com.bruce.common.component.model.converter.PageDataConverter;

import javax.annotation.Resource;
import java.util.List;
import java.util.stream.Collectors;

/**
 * @Copyright Copyright © ${date.substring(0,4)} ${author} . All rights reserved.
 * @Desc ${table.comment}service 实现类
 * @ProjectName ${cfg.project_name}
 * @Date ${date}
 * @Author ${author}
 */
@Service
@Slf4j
public class ${entity}ServiceImpl implements ${entity}Service {

    @Resource
    private ${entity}Dao dao;

    @Override
    public Long save(${entity}Form form) {
        ${entity} po = ${entity}Converter.convert2Po(form);
        return dao.save(po);
    }

    @Override
    public void update(${entity}Form form) {
        ${entity} po = ${entity}Converter.convert2Po(form);
        dao.update(po);
    }

    @Override
    public void remove(Long id) {
        dao.remove(id);
    }


    @Override
    public ${entity} queryById(Long id) {
        return dao.queryById(id);
    }

    @Override
    public PageData<${entity}VO> queryByPage(${entity}Query query) {
        Page<${entity}> pageInfo = PageHelper.startPage(query.getPageNum(), query.getPageSize());
        try {
            List<${entity}> list = dao.queryList(query);
            List<${entity}VO> result = list.stream().map(${entity}Converter::convert2Vo).collect(Collectors.toList());
            return PageDataConverter.convertFromPage(pageInfo, result);
        } finally {
            PageHelper.clearPage();
        }
    }

}
